@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .safe-area-top {
    padding-top: env(safe-area-inset-top);
  }
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

body {
  @apply bg-slate-50 text-slate-900;
  overscroll-behavior-y: none; /* Prevent Pull-to-Refresh on Mobile Web */
  -webkit-tap-highlight-color: transparent;
}